<style type="text/css">
a {
	text-decoration: none !important;
}

.linkref {
    color:#069; 
    cursor:pointer;
}
.pagedisplay {
    display:none;
    position:absolute;
    border:1px solid #000;
    width:400px;
    height:400px;
}

textarea {
	height: 50px;
	width: 94%;
	padding: 1%;
	border: inset 4px LightSkyBlue;
	resize: none;
}

.child {
	position: bottom;
}

.input-group {
	margin: 20px;
	padding: 10px;
	border: 1px solid black;
	border-radius: 4px;
	box-sizing: border-box;
}

img {
	float: right;
	/* top: 0px;
   right: 0px; */
	width: 42px;
	height: 42px;
}
/* .outside {
    
} */
.inside {
	position: absolute;
	bottom: 20px;
	width: 96%;
	height: 50px;
}

.div-conatiner {
	float: left;
	margin: 10px;
	padding: 10px;
	max-width: 300px;
	height: 200px;
	border: 1px solid black;
	position: relative;
}

p {
	text-align: left;
	vertical-align: middle;
	word-wrap: break-word;
}
</style>
